<!--
  author Poojitha
-->
<br/>
<br/>
<h2>Confirm deletion of orderLine</h2>
<br/>
<br/> 
      ID:
<%=  orderLineItems._id %>
  <br> orderLineID:
  <%=orderLineItems.orderLineID%>
    <br/> lineNumber:
    <%=orderLineItems.lineNumber%>
      <br/> productName:
      <%=orderLineItems.productName%>
      <br/> quantity:
      <%=orderLineItems.quantity%>
      <br/> price:
      <%=orderLineItems.price%>
      <br/>
        <br/>
        <br/>
        

            <form method="get" action="/orderLineItems">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/orderLineItems/delete/<%= orderLineItems._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>