<!--
  author Poojitha
-->
<br/>
<br/>
<h2>Order Line Details</h2>
<br/>
<br/> ID:
<%=  orderLineItems._id %>
  <br> orderLineID:
  <%=orderLineItems.orderLineID%>
    <br/> LineNumber:
    <%=orderLineItems.lineNumber%>
      <br/> productName:
      <%=orderLineItems.productName%>
      <br/> quantity:
      <%=orderLineItems.quantity%>
      <br/> price:
      <%=orderLineItems.price%>
      <br/>
        <br/>
        <br/>
        

            <form method="get" action="/orderLineItems">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
