<!--
  author Poojitha
-->
<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="orderLineID">orderLineID</label>
        <input type="text" class="form-control" id="no_of_orders" name="no_of_orders" value="<%= orderLineItem.orderLineID %>" required>
      </div>
      <div class="form-group">
        <label for="lineNumber">lineNumber</label>
        <input type="text" class="form-control" id="datePlaced" name="lineNumber" value="<%= orderLineItem.lineNumber %>">
      </div>
      <div class="form-group">
        <label for="productName">productName</label>
        <input type="text" class="form-control" id="productName" name="productName" value="<%=orderLineItem.productName %>" required>
      </div>
      <div class="form-group">
        <label for="quantity">quantity</label>
        <input type="text" class="form-control" id="quantity" name="quantity" value="<%= orderLineItem.quantity %>" required>
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" id="price" name="price" value="<%= orderLineItem.price %>" required>
      </div>
     
    </div>
  </div>
  <hr>
  