<div class="container">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        
        <a class="navbar-brand" href="/">Ecommerce</a>
        <a class="navbar-brand" href="/">Welcome</a>
      </div>
     <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/customer">Customer</a>
          </li>
          <li>
            <a href="/order">Order</a>
          </li>
          <li>
            <a href="/product">product</a>
          </li>
          <li>
            <a href="/orderLineItems">OrderLineItem</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
  
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="https://safe-plains-91524.herokuapp.com/">Rahul Reddy Dayam</a></li>
               <li><a class="dropdown-item" href="https://peaceful-beach-65741.herokuapp.com/">Sai Saketh Sunkara</a></li>
              <li><a class="dropdown-item" href="https://mya03.herokuapp.com/index">Poojitha Singam</a></li>
            </ul>
   </li>
          </ul>
 
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>