<!-- /**
 * @author Rahul Reddy
 */ -->
 <div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
       <br>
        <h1>customers!</h1>
    
        
        <ol>
          <li>
            <a href="http://localhost:8089/customer">http://localhost:8089/customer</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/create">http://localhost:8089/customer/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/edit/1">http://localhost:8089/customer/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/edit/2">http://localhost:8089/customer/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/edit/3">http://localhost:8089/customer/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/delete/1">http://localhost:8089/customer/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/delete/2">http://localhost:8089/customer/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/delete/3">http://localhost:8089/customer/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/details/1">http://localhost:8089/customer/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/details/2">http://localhost:8089/customer/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/details/3">http://localhost:8089/customer/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/customer/findall">http://localhost:8089/customer/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/findone/1">http://localhost:8089/customer/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/findone/2">http://localhost:8089/customer/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/findone/3">http://localhost:8089/customer/findone/3</a>
          </li>
  
        </ol>
        
        <h1>orders!</h1>
    
        <ol>
          <li>
            <a href="http://localhost:8089/order">http://localhost:8089/order</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/create">http://localhost:8089/order/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/order/edit/1">http://localhost:8089/order/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/edit/2">http://localhost:8089/order/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/edit/3">http://localhost:8089/order/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/order/delete/1">http://localhost:8089/order/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/delete/2">http://localhost:8089/order/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/delete/3">http://localhost:8089/order/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/order/details/1">http://localhost:8089/order/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/details/2">http://localhost:8089/order/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/details/3">http://localhost:8089/order/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/order/findall">http://localhost:8089/order/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/1">http://localhost:8089/order/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/2">http://localhost:8089/order/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/3">http://localhost:8089/order/findone/3</a>
          </li>
  
        </ol>
        <h1>products!</h1>
    
        <ol>
          <li>
            <a href="http://localhost:8089/product">http://localhost:8089/product</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/create">http://localhost:8089/product/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/product/edit/1">http://localhost:8089/product/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/edit/2">http://localhost:8089/product/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/edit/3">http://localhost:8089/product/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/product/delete/1">http://localhost:8089/product/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/delete/2">http://localhost:8089/product/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/delete/3">http://localhost:8089/product/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/product/details/1">http://localhost:8089/product/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/details/2">http://localhost:8089/product/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/details/3">http://localhost:8089/product/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/product/findall">http://localhost:8089/product/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/1">http://localhost:8089/product/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/2">http://localhost:8089/product/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/3">http://localhost:8089/product/findone/3</a>
          </li>
  
        </ol>
        <h1>orderlineitems!</h1>
  
      <ol>
        <li>
          <a href="http://localhost:8089/orderlineitem">http://localhost:8089/orderlineitem</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/create">http://localhost:8089/orderlineitem/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/orderlineitem/edit/1">http://localhost:8089/orderlineitem/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/edit/2">http://localhost:8089/orderlineitem/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/edit/3">http://localhost:8089/orderlineitem/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/orderlineitem/delete/1">http://localhost:8089/orderlineitem/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/delete/2">http://localhost:8089/orderlineitem/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/delete/3">http://localhost:8089/orderlineitem/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/orderlineitem/details/1">http://localhost:8089/orderlineitem/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/details/2">http://localhost:8089/orderlineitem/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/details/3">http://localhost:8089/orderlineitem/details/3</a>
        </li>

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/orderlineitem/findall">http://localhost:8089/orderlineitem/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/findone/1">http://localhost:8089/orderlineitem/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/findone/2">http://localhost:8089/orderlineitem/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/orderlineitem/findone/3">http://localhost:8089/orderlineitem/findone/3</a>
        </li>

      </ol>
      
        
        
        
  
      </div>
    </div>
  </div>