<!--
  author Sai Saketh
-->
<br/>
<br/>
<h2>Confirm deletion of order</h2>
<br/>
<br/> ID:
<%=  order._id %>
  <br> no_of_products:
  <%=order.no_of_products%>
    <br/> datePlaced:
    <%=order.datePlaced%>
      <br/> dateShipped:
      <%=order.dateShipped%>
      <br/> paymentType:
      <%=order.paymentType%>
      <br/> price:
      <%=order.price%>
      <br/> paid:
      <%=order.paid%>
      
      <br/>
        <br/>
        <br/>
        

            <form method="get" action="/order">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/order/delete/<%= order._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>

