<!--
  author Sai Saketh
-->
<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="no_of_products">no_of_products</label>
        <input type="text" class="form-control" id="no_of_products" name="no_of_products" value="<%= order.no_of_products %>" required>
      </div>
      <div class="form-group">
        <label for="datePlaced">datePlaced</label>
        <input type="text" class="form-control" id="datePlaced" name="datePlaced" value="<%= order.datePlaced %>">
      </div>
      <div class="form-group">
        <label for="dateShipped">dateShipped</label>
        <input type="text" class="form-control" id="dateShipped" name="dateShipped" value="<%=order.dateShipped %>" required>
      </div>
      <div class="form-group">
        <label for="paymentType">paymentType</label>
        <input type="text" class="form-control" id="paymentType" name="paymentType" value="<%= order.paymentType %>" required>
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" id="price" name="price" value="<%= order.price %>" required>
      </div>
      <div class="form-group">
        <label for="paid"> paid</label>
        <input type="text" class="form-control" id="paid" name="paid" value="<%= order.paid %>" required>
      </div>
    </div>
  </div>
  <hr>
  
  