<!--
  author rahulreddy
-->
<br/>
<br/>
<h2>Confirm deletion of product</h2>
<br/>
<br/> ID:
<%=  product._id %>
  <br> productName:
  <%=product.productName%>
    <br/> productDescription:
    <%=product.productDescription%>
      <br/> price:
      <%=product.price%>
      <br/> Category
      <%=product.productCategory%>
      <br/> sellerId:
      <%=product.sellerId%>
      <br/>
        <br/>
        <br/>
        

            <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/product/delete/<%= product._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>