<!--
  author rahulreddy
-->
<br/>
<br/>
<h2>order Details</h2>
<br/>
<br/> ID:
<%=  order._id %>
  <br> no_of_orders:
  <%=order.no_of_orders%>
    <br/> datePlaced:
    <%=order.datePlaced%>
      <br/> dateShipped:
      <%=order.dateShipped%>
      <br/> paymentType:
      <%=order.paymentType%>
      <br/> price:
      <%=order.price%>
      <br/> paid:
      <%=order.paid%>
      <br/>
        <br/>
        <br/>
        

            <form method="get" action="/order">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            