
<!--
  author rahulreddy
-->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="customername">customer Name</label>
        <input type="text" class="form-control" id="customername" name="customername" value="<%= customer.customername %>" required>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name="email" value="<%= customer.email %>">
      </div>
      <div class="form-group">
        <label for="street1">street1</label>
        <input type="text" class="form-control" id="street1" name="street1" value="<%= customer.street1 %>" required>
      </div>
      <div class="form-group">
        <label for="street2">street2</label>
        <input type="text" class="form-control" id="street2" name="street2" value="<%= customer.street2 %>" required>
      </div>
      <div class="form-group">
        <label for="city">city</label>
        <input type="text" class="form-control" id="city" name="city" value="<%= customer.city %>" required>
        <div class="form-group">
          <label for="state">state</label>
          <input type="text" class="form-control" id="state" name="state" value="<%= customer.state %>" required>
          <div class="form-group">
            <label for="country">country</label>
            <input type="text" class="form-control" id="country" name="country" value="<%= customer.country %>" required>
            <div class="form-group">
              <label for="phno">phno</label>
              <input type="text" class="form-control" id="phno" name="phno" value="<%= customer.phno %>" required>
      </div>

    </div>
  </div>
  <hr>
  
  